<div id="menu">
    <ul class="fix_height">
        <li><a href="{{ site.url }}/geek/" title="view all
                            posts">GEEK</a>
        </li>
        <li><a href="{{ site.url }}/music/" title="view all
                            posts">MUSIC</a>
        </li>
        <li><a href="{{ site.url }}/poem/" title="view all
                            posts">POEM</a>
        </li>
        <li><a href="{{ site.url }}/life/" title="view all
                            posts">LIFE</a>
        </li>
        <li><a href="{{ site.url }}/about.html">ABOUT</a></li>
    </ul>
</div>