<style>
    #recent_comments .comment_list {
        font-size: 80%;
    }
</style>
<div id="recent_comments" class="dsq-widget">
    <h3>Recent Comments</h3>

    <div class="comment_list">
        <script type="text/javascript"
                src="http://masrblog.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"></script>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#recent_comments .comment_list").append('<script type="text/javascript" src="http://masrblog.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"><\/script>');
    });
</script>