---
layout: layout
title: Masr's Blog
---

<div id="home">
    <h2 class="posts_index_title">Posts</h2>
    {% if site.paginate %}
    <ul class="posts">

        {% for post in paginator.posts %}
        {% include post_item.html %}
        {% endfor %}
        {% assign pager_url = site.url %}
    </ul>
    {% include pagination.html %}

    {% else %}
    <ul class="posts">
        {% for post in site.posts %}
        {% include post_item.html %}
        {% endfor %}
    </ul>

    {% endif %}
</div>
