---
layout: layout
---

<div id="tag_home" class="tag {{page.tag}}">
    <h2>{{page.tag|capitalize}} posts</h2>
    {% if site.paginate %}
    <ul class="posts">

        {% for post in paginator.posts %}
        {% include post_item.html %}
        {% endfor %}
        {% capture pager_url %}{{ site.url }}/tag/{{page.tag}}{% endcapture %}
    </ul>
    {% include pagination.html %}
    {% else %}
    <ul class="posts">
        {% for post in site.tags[page.tag] %}
        {% include post_item.html %}
        {% endfor %}
    </ul>
    {% endif %}
</div>
